version: '3.8'

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container-new
    environment:
      PMA_HOST: library.clkiqc8m2zfr.us-east-2.rds.amazonaws.com
      PMA_USER: admin
      PMA_PASSWORD:
      MYSQL_ROOT_PASSWORD: Banco4444
    ports:
      - "9080:80"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
